<form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.value)" class="ui form"
    [class.error]="!myForm.valid && myForm.touched">

    <div class="field">
        <label for="skuInput">SKU1</label>
        <input type="text" id="skuInput" placeholder="SKU" [formControl]="myForm.controls['sku']"
            [class.error]="!myForm.controls['sku'].valid && myForm.controls['sku'].touched">
        <div *ngIf="myForm.controls['sku'].touched && !myForm.controls['sku'].valid" class="ui error message">SKU is
            invalid</div>
        <div *ngIf="myForm.controls['sku'].touched && myForm.controls['sku'].hasError('required')"
            class="ui error message">SKU is required</div>
        <div *ngIf="myForm.controls['sku'].touched && myForm.controls['sku'].hasError('invalidSku')"
            class="ui error message">SKU must begin with 123</div>
    </div>

    <div class="field">
        <label for="skuInput">SKU2</label>
        <input type="text" id="skuInput" placeholder="SKU" [formControl]="myForm.controls['sku2']"
            [class.error]="!myForm.controls['sku2'].valid && myForm.controls['sku2'].touched">
        <div *ngIf="myForm.controls['sku2'].touched && !myForm.controls['sku2'].valid" class="ui error message">SKU is invalid</div>
        <div *ngIf="myForm.controls['sku2'].touched && myForm.controls['sku2'].hasError('required')" class="ui error message">SKU is required</div>
    </div>

    <div class="field">
        <label for="skuInput">SKU3</label>
        <input type="text" id="skuInput" placeholder="SKU" [formControl]="myForm.controls['sku3']">
    </div>

    <button type="submit" class="ui button">Submit</button>
</form>