<form #f="ngForm" (ngSubmit)="onSubmit(f.value)" class="ui form">

    <div class="field">
        <label for="skuInput">SKU</label>
        <input type="text" id="skuInput" placeholder="SKU" name="sku" ngModel>
    </div>
    <div class="field">
        <label for="skuInput2">SKU2</label>
        <input type="text" id="skuInput2" placeholder="SKU" name="sku2" ngModel>
    </div>
    <div class="field">
        <label for="skuInput3">SKU3</label>
        <input type="text" id="skuInput3" placeholder="SKU" name="sku3">
    </div>

    <button type="submit" class="ui button">Submit</button>
</form>