<form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.value)" class="ui form">

    <div class="field">
        <label for="skuInput">SKU</label>
        <input type="text" id="skuInput" placeholder="SKU" 
        [formControl]="myForm.controls['sku']">
    </div>

    <div class="field">
        <label for="skuInput2">SKU2</label>
        <input type="text" id="skuInput2" placeholder="SKU"
        [formControl]="myForm.controls['sku2']">
    </div>

    <div class="field">
        <label for="skuInput3">SKU3</label>
        <input type="text" id="skuInput3" placeholder="SKU">
    </div>

    <button type="submit" class="ui button">Submit</button>
</form>